
/* PC min-width:1024px */
@media(min-width:1024px){

}
/* Tablet and Mobile -> max-width:1023px  */
@media (max-width:1023px) {
    .list__icon_socials i{
        font-size: 40px;
        margin: 0 8px;
    }
    .buyBtn{
        margin-bottom: 16px;
    }
 
    .form-control{
        padding: 16px;
    }
    .text__footer a{
        padding: 16px 0;
        display: inline-block;
    }
    .contact-form p{
        line-height: 1.9;
        font-size: 20px;
    }
    .content__section{
       
        min-height: 550px;
    }
}
/* Tablet -> min-width:740px and max-width:1023px */
@media (min-width:740px) and (max-width:1023px) {
    
}
/* Mobile -> max-width:739px */
@media (max-width:739px){
    #header{
        overflow: hidden;
    }
    #header .nav{
        display: block;
    }
    .nav>li{
        display: block;
    }
    .nav>li:first-child{
        display: inline-block;
    }
    .btn-search{
        display: none;
    }
   .btn-menu{
       position: absolute;
       top: 0;
       right: 0;
       display: block;
   }
   .subnav{
       position: initial;
       background-color: #333;
       line-height: 36px;
   }
   .nav .subnav li a{
   color: #fff;
   padding: 5px 41px;
    }

    .nav .subnav li {        
        display: inline-block;
        list-style: none;
    }
    .nav .subnav li:hover a{
        color: #000;
    }
    .s-full-width,
    .s-col-full{
        width: 100%;
    }
    .member__item .member__image{
        width: 60%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    .s-mb-16{
        margin-bottom: 16px;
    }

}
